@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gulp</h1>
    <p>

        <link href="~/Css/main.css" rel="stylesheet" />


        Gulp is a javascript task runner.
        Quoting from their website: Gulp is used to automate and enhance your workflow.
        <br />
        <br />
        <b>Why Gulp ?</b>

        The main problem Gulp solves is Repetition. There are several tasks that web developers do again and again on a daily basis.  This can be simplified by making them automated. Gulp lets you automate such tasks.

        Here are some of them

        <ul>
            <li>
                Optimizes all assets (CSS, JS, fonts, and images)
            </li>
            <li>
                Running code analysis.
            </li>
            <li>Less/Sass to CSS compilation</li>
            <li>
                Trigger a live reload in the browser
            </li>
        </ul>
    </p>
    <p><a href="http://gulpjs.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>